<p>
  <strong>Kommentator:</strong>
  <%= comment.commenter %>
</p>
 
<p>
  <strong>Kommentar:</strong>
  <%= comment.body %>
</p>
 
<p>
  <%= link_to 'Kommentar löschen', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Sind Sie sich sicher?' } %>
</p>