<h1 align="center">Artikel bearbeiten</h1>
<%= render 'form' %>

<div class ="col-xs-5 col-xs-offset-4">
  [ <%= link_to 'Editieren abbrechen und zurück zur Artikelübersicht', articles_path %> ]
</div>