<h1 align="Center">
  Registrierung für Testapp
</h1>
<%= render 'form' %>

<div class ="col-xs-5 col-xs-offset-4">
  [ <%= link_to 'Anmeldung abbrechen und zurück zur Artikelübersicht', articles_path %> ]
</div>